{% extends "index.html" %}

{% block title %}
	<div class=row>
		<div class="container"  style=" margin:10px">
			<h4>Get shorter your long link:</h4>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class=row>
		<div class="container"  style=" margin:10px">
			<form method="POST">{% csrf_token %}
				<div class="post-form">
					{% for field in form %}
						<div class="field">
							<h6> {{field.label_tag}}</h6>
							<div class ="control">
				    			{{ field }}
				    		</div>
				    	</div>
				    	<br>
				    {% endfor %}
				</div> 
				<br>
					<button class = "btn btn-primary" type="submit">Create short link</button>
			</form>
		</div>
	</div>
{% endblock %}